*{
	margin:0px;
	padding:0px;
	margin-bottom:20px;
}
html{
	font-Size:37px;
}
ul{
	list-style:none;
}
li{
	display:inline-block;
}
img{
	width:100%;
	height:100%;
}
.viewport{
	
	position:relative;
}
.menu-h{
	background-color:white;
	width:100%;
	position:fixed;
	top:0;
}
.top-menu{
	z-index:900;
	height:3rem;
	
}
.logo{
	width:10rem;
	height:100%;
	float:left;
}
.search-menu{
	height:100%;
	float:right;
}
.menu-ul{
	height:100%;
}
.menu-li{
	height:100%;
	width:3rem;
}
.menu-a{
}




.main1{
	width:100%;
	overflow:hidden;
	margin-top:4rem;
}
.main1-p0{
	width:300%;
	font-Size:0;
	animation:myfirst 5s ;
	aanimation-iteration-count:infinite;
}
@keyframes myfirst{
	0%{margin-left:0;} 
	50% {margin-left:-100%;}
	100% {margin-left:-200%;}
}
.main1-p1{
	height:20rem;
	width:33.33333%;
	display:inline-block;
	background-image:url(img/case5.jpg);
	background-size:100% 100%;
	vertical-align: top;
}
.p1-d{
	padding:28%;
	color:white;
}
.p1-h{
	font-Size:2rem;
}
.p1-b{
	background-color:#d64e68;
	font-Size:1.5rem;
	color:white;
}
.main1-p2{
	height:20rem;
	width:33.33333%;
	display:inline-block;
	background-image:url(img/case6.jpg);
	background-size:100% 100%;
    vertical-align: top;
}


.main4{
}
.main4-p0{
	padding:10%;
	background-color: #424ea012;
}
.main4-p1{
}
.main4-p2{
	text-align: center;
}
.main4-li{
	width:49%;
	height:49%;
}
.main4-img2{
	width:20%;
	display:inline-block;
}
.main4-p22{
	width:80%;
	display:inline-block;
	font-Size:2rem;
	vertical-align:top;
	line-height: 3rem;
}
.main4-li2{
	font-Size:0;
	width:100%;
	background-color:white;
	margin-bottom: 10%;
	    text-align: start;
}
