* {
	margin: 0;
	padding: 0;
	color: #3d3939;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	*zoom: 1;
} 
li {
	list-style: none;
	display: inline-block;
}
body>div{
	width: 100%;
	display: inline-block;
}
.div1{
	width: 100%;
	height: 6.6rem;
	z-index: 99999999999999;
	background-color: #fff;
	position: fixed;
	top: 0;
}
.div1_0>div{
	display: inline-block;
}
.div1 img{
	height: 3rem;
	margin-top: 1.8rem;
}
.div1_0{
	width: 90%;
	margin: 0 auto;
}
.div1_1{
	display: inline-block;
}
.div1_2{
	float: right;
}
.div1_2 li{
	width: 2.8rem;
	height: 4rem;
	padding: 0 1.2rem;
}
.div1_2 a{
	font-size: 3rem;
	line-height: 6.6rem;
}
.div2{
	height: 13rem;
	margin: 6.6rem 0 6rem;
	background-color: skyblue;
	position: relative;
	overflow: hidden;
}
a {
	font: 1.4rem "Microsoft Arial" ;
	color: #111;
	text-decoration: none;
	cursor: pointer;	
}
.div2 a{
	position: absolute;
	left: 2rem;
	top: 2rem;
}
.div2 h1{
	font: 600 3.4rem "Microsoft Arial";
	color: #333;
	position: absolute;
	bottom: 2rem;
	left: 2rem;
}
.div3>div{
	width: 100%;
	margin: 0 auto;
}
.div3_1{
	padding: 0 2.2rem;
	margin-bottom: 4rem;
}
h2{
	font: 600 2.9rem "Microsoft Arial";

}
.div3_2 img{
	width: 100%;
	vertical-align: bottom;
}
.div3_3{
	padding: 3.5rem 1.5rem;
	background-color: #dadada;
}
.div3_3_1{
	font-size: 1.4rem;
	color: #666;
	text-align: center;
}
.div3_3_2{
	padding: 0 2.2rem;
	font: 1.8rem "Microsoft Arial";
	text-align: center;
}
.div3_3_2 h3{
	padding: 0.5rem 0 1.5rem;
}
.div4{
	margin: 2rem 0 4rem;
}
.div4>div{
	width: 100%;
	margin: 0 auto;
}
.div4 ul{
	padding: 0 2.2rem;
}
.div4_1 li{
	margin-top: 4rem;
}
.div4_1 div{
	font-size: 1.4rem;
	color: #666;
}
.div4_1 h3{
	font:  1.8rem "Microsoft Arial";
	line-height: 3rem;
}
.div5{
	margin: 0 auto;
	position: relative;
}
.div5_1{
	padding: 0 2.2rem;
}
.div5_2{
	margin: 15rem 0 6rem;
	padding: 0 1.2rem;
}
.div5_2 img{
	width: 18.8rem;
	position: absolute;
	top: -9rem;
	left: 6rem;
}
.div5_2 a{
	padding: 0 2.2rem;
	margin: 0 auto;
	position: relative;
}
.div5_text{
	padding: 14rem 0 4rem;
	background-color: skyblue;
	text-align: center;
}
.div5_text h3{
	font: 600 2.4rem "Microsoft Arial";
	line-height: 4rem;
}
.div5_text span{
	display: block;
	font: 1.6rem "Microsoft Arial";
	padding: 0 3rem;
}
.div5_text p{
	font: 1.8rem "Microsoft Arial";
	padding: 0 3rem;
}
.div6{
	margin: 0 auto;
}
.div6>div{
	padding: 0 2.2rem;
}
.div6_1 h2{
	margin-bottom: 2rem;
}
.div6_2{
	margin-bottom: 6rem;
}
.div6_2_1{
	box-shadow: 0 0rem 2rem #b0b0b0;
}
.div6_text{
	padding: 2rem 0;
	margin: 0 2rem;
	text-align: center;
	border-bottom: .1rem solid #b0b0b0;
}
.div6_text span{
	font: 1.8rem "Microsoft Arial";
}
.div6_text div{
	font: 6rem "Microsoft Arial";
	color: skyblue;
	line-height: 10rem;
}
.div6_2 .text_down{
	border: none;
}
.div7{
	margin: 0 auto;
}
.div7_1{
	padding: 0 2.2rem;
}
.div7_2{
	width: 100%;
	margin-bottom: 6rem;
}
.div7_2 img{
	margin: 4rem 3.3rem  0;
}
.div7_2 p{
	font: 600 2.4rem "Microsoft Arial";
	padding: 0 2.2rem;
	line-height: 4rem;
}
.div8{
	background-color: #e6e7e8;
}
.div8_1{
	padding: 4rem 2.2rem 0;
}
.div8_1 em{
	font-size: 3rem;
	margin-right: 2rem;
}
.div8_2{
	padding: 0 2.2rem;
	margin-top: 4rem;
}
.div8_2_1{
	font: 600 2.4rem "Microsoft Arial";
	margin-bottom: 2rem;
}
.div8_2 li{
	width: 49%;
	font:  1.6rem "Microsoft Arial";
	color: #5c5959;
	margin-bottom: 1rem;
}