*{
    margin: 0;
    padding: 0;
}
html{
    background-color: white;
}
.title{
    height: 4.125rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    padding-top: 0;
    position: relative;
    z-index: 100;
}
.title-1{
    height: 3.3125rem;
    background-color: white;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
}
.logo{
    height: 1.96875rem;
    width: 8.3125rem;
    float: left;
    margin-top: 1.0625rem;
    margin-right: 0;
}
/* .logo img{
    margin-top: 19px;
} */
.title-right{
    float: right;
    height: 2.5rem;
    position: relative;
    top: 0.8125rem;
}
ul{
    list-style-type: none;
}
.chazhao{
    float: left;
    border-left: none;
    margin-right: 0.625rem;
}
.chazhao img{
    margin-top: 0.375rem;
}
.caidan{
    float: right;
}
.caidan {
    display: block;
    float: left;
    padding: 0;
    position: relative;
    font-size: 1.3125rem;
    height: 2.5rem;
    padding-left: 0.9375rem;
    border-left: 1px solid #d4d4d4;
    padding-right: 0.9375rem;
}
.top1{
    height: 4.3rem;
    width: 100%;
    background-color: white;
}
.fanhuijian{
    line-height: 4.3rem;
    margin-left: 1.25rem;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
}
.main{
    padding-left: 1.375rem;
    padding-right: 1.375rem;
}
h1 {
    margin-top: 0;
    margin-bottom: 1.875rem;
}
.search{    
    height: 2.4rem;
    border: 0.0625rem solid #d4d4d4;
    border-radius: 0.3125rem;
    font-size: 0.875rem;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
}
.search a{
    line-height: 2.4rem;
}
.clear{
    clear: both;
}
.wifi{
    width: 100%;
    height: 2.4375rem;
    padding-top: 0.8125rem;
}
.wifi-right{
    background-color: #f6a555;
    width: 2.875rem;
    height: 1.25rem;
    border-radius: 0.1875rem;
    color:white;
    float: right;
    font-size: 0.875rem;
}
.xinwenshijian{
    padding: 0.5625rem 0.9375rem;
    max-height: 7.5rem;
    overflow: hidden;
    min-height: 0.0625rem;
    width: 11.5625rem;
    float: left;
}
.xinwenshijian1{
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #666666;
    margin-bottom: 0;
}
.xinwenlist{
    background: #dde6ed;
    border-radius: 0.3125rem;
    overflow: hidden;
    margin-bottom: 1.25rem;
}
h3 {
    font-size: 1.375rem;
    overflow: hidden;
    color: #282828;
    display: block;
    /* font-size: 1.17em; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.875rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}
.tupian1{
    float: right;
}
html{
    font-size: 1rem;
}
div.tupian1 img {
    width: 8.75rem;
    height: 8.75rem;
}
@media screen and (max-width: 376px) {
    html{
        font-size: 13px;
    }
}
.div8{
	background-color: #e6e7e8;
}
.div8_1{
	padding: 2.5rem 1.375rem 0;
}
.div8_1 em{
	font-size: 1.875rem;
	margin-right: 1.25rem;
}
.div8_2{
	padding: 0 1.375rem;
	margin-top: 1.875rem;
}
.div8_2_1{
	font: 600 1.5rem "Microsoft Arial";
	margin-bottom: 1.25rem;
}
.div8_2 li{
	width: 49%;
	font:  1rem "Microsoft Arial";
	color: #5c5959;
	margin-bottom: 0.625rem;
}
.div8_2_2 li{
    display: inline-block;
}
